.text-custom-blue {
    color: #1e3a8a;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.btn-custom-blue {
    background-color: #1e3a8a;
    border-color: #1e3a8a;
}

.btn-custom-blue:hover {
    background-color: #172e6e;
    border-color: #172e6e;
}

.input-group.bg-light {
    background-color: #ffffff !important;
    border: 1px solid #dee2e6;
}