<div class="d-flex align-items-center justify-content-center min-vh-100 bg-white">
  <div class="container" style="max-width: 400px;">
    <div class="text-center mb-5">
      <h1 class="fw-bold text-custom-blue display-4">Log In</h1>
    </div>

    <form>
      <div class="mb-4">
        <label for="email" class="form-label fw-bold text-dark">Email</label>
        <input type="email" class="form-control form-control-lg bg-light border-light-gray" id="email" placeholder="Ejemplo@gmail.com">
      </div>

      <div class="mb-4">
        <label for="password" class="form-label fw-bold text-dark">Contraseña</label>
        <input type="password" class="form-control form-control-lg bg-light border-light-gray" id="password" placeholder="Contraseña">
      </div>

      <button type="submit" class="btn btn-custom-blue w-100 py-2 fs-5 mb-4 rounded-3 text-white">Sign In</button>

      <div class="text-center">
        <a routerLink="/register" class="text-custom-blue text-decoration-underline">¿Todavía no estás registrado?</a>
      </div>
    </form>
  </div>
</div>
