.bg-custom-blue {
    background-color: #1a237e !important;
}

.text-custom-blue {
    color: #1a237e !important;
}

.btn-custom-blue {
    background-color: #1a237e;
    border-color: #1a237e;
}

.btn-custom-blue:hover {
    background-color: #151b60;
    border-color: #151b60;
}

.hover-blue {
    transition: color 0.2s ease;
}

.hover-blue:hover {
    color: #1a237e !important;
    text-decoration: underline !important;
}