/* Styles moved to global styles.css */
/* Estilos Botones */
.btn-custom-blue {
    /* Asegúrate de que el color de fondo sea visible */
     background-color: #004085; /* Color azul estándar de ejemplo */
     border-color: #004085;
    /* Sobrescribe el color del texto si lo necesitas, aunque 'text-white' ya lo hace */
    color: white; 
}
.btn-custom-blue:hover {
    background-color: #003366; /* Color azul más oscuro para el hover */
    border-color: #003366;
}

.modal-content {
    z-index: 1070 !important; 
}
