version: '3.8'

services:
  # 1. Base de Datos (SQL Server)
  db:
    build: ./database
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Volunt@ri0DB2024!
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    # Volumen comentado temporalmente para diagnosticar problema de permisos
    # volumes:
    #   - sql_data:/var/opt/mssql/data
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'Volunt@ri0DB2024!' -C -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
      # 2. Backend (Symfony - PHP-FPM)
  backend:
    build: ./api_proyecto_voluntariado
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "sqlsrv://sa:Volunt@ri0DB2024!@db:1433/PROYECTOINTER?serverVersion=2019&Encrypt=no"
    # PHP-FPM escucha en el 9000, no exponemos puerto al host, solo internamente a Nginx

    # 2.1 Backend Web Server (Nginx)
  backend-web:
    build: ./api_proyecto_voluntariado/nginx
    ports:
      - "8000:80"
    depends_on:
      - backend
    volumes:
      - ./api_proyecto_voluntariado:/var/www/html # Compartir código para que Nginx sirva estáticos si fuera necesario

  # 3. Frontend (Angular)
  frontend:
    build: ./frontend # Ruta al Dockerfile del front
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  sql_data:
