.text-custom-blue {
    color: #1a237e !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-custom-blue {
    background-color: #1a237e !important;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.logo-spin {
    animation: spin 2s linear infinite;
}