.bg-custom-sidebar {
    background-color: #1a237e;
    /* Darker blue */
}

.sidebar-pill {
    border-radius: 50px;
}

.nav-link {
    border-radius: 0;
    padding: 0.5rem;
    transition: all 0.2s ease;
    opacity: 0.7;
}

.nav-link:hover {
    opacity: 1;
    transform: scale(1.05);
}

.nav-link.active {
    opacity: 1;
    background-color: transparent;
    border: none;
}

.icon-container {
    width: 48px;
    height: 48px;
    color: #ffffff;
    transition: all 0.2s ease;
}

.nav-link.active .icon-container {
    background-color: #ffffff;
    color: #1a237e !important;
}

.small {
    font-size: 0.75rem;
    margin-top: 0.25rem;
}