/* You can add global styles to this file, and also import other style files */

.text-custom-blue {
    color: #1a237e !important;
}

.bg-light-blue {
    background-color: #e8eaf6 !important;
}

.border-light-gray {
    border-color: #e0e0e0 !important;
}

/* Override Bootstrap bg-light if needed, or use a custom class */
.bg-custom-light {
    background-color: #f8f9fa !important;
}

.modal-backdrop-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-custom-blue {
    /* Asegúrate de que el color de fondo sea visible */
     background-color: #004085; /* Color azul estándar de ejemplo */
     border-color: #004085;
    /* Sobrescribe el color del texto si lo necesitas, aunque 'text-white' ya lo hace */
    color: white; 
}
.btn-custom-blue:hover {
    background-color: #003366; /* Color azul más oscuro para el hover */
    border-color: #003366;
}
