<div class="d-flex flex-column flex-shrink-0 py-4 text-white bg-custom-sidebar shadow my-3 ms-3 sidebar-pill"
  style="width: 100px; height: fit-content; min-height: auto;">
  <ul class="nav nav-pills flex-column mb-auto gap-4 align-items-center w-100">
    <li class="nav-item w-100 text-center">
      <a routerLink="/admin/dashboard" routerLinkActive="active"
        class="nav-link text-white d-flex flex-column align-items-center justify-content-center p-2"
        aria-current="page">
        <div class="icon-container mb-1 rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-grid-fill fs-5"></i>
        </div>
        <span class="small fw-bold">Dashboard</span>
      </a>
    </li>
    <li class="nav-item w-100 text-center">
      <a routerLink="/admin/volunteers" routerLinkActive="active"
        class="nav-link text-white d-flex flex-column align-items-center justify-content-center p-2">
        <div class="icon-container mb-1 rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-people fs-5"></i>
        </div>
        <span class="small fw-bold">Voluntarios</span>
      </a>
    </li>
    <li class="nav-item w-100 text-center">
      <a routerLink="/admin/organizations" routerLinkActive="active"
        class="nav-link text-white d-flex flex-column align-items-center justify-content-center p-2">
        <div class="icon-container mb-1 rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-briefcase fs-5"></i>
        </div>
        <span class="small fw-bold">Organizaciones</span>
      </a>
    </li>
    <li class="nav-item w-100 text-center">
      <a routerLink="/admin/activities" routerLinkActive="active"
        class="nav-link text-white d-flex flex-column align-items-center justify-content-center p-2">
        <div class="icon-container mb-1 rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-calendar-check fs-5"></i>
        </div>
        <span class="small fw-bold">Actividades</span>
      </a>
    </li>
    <li class="nav-item w-100 text-center">
      <a routerLink="/admin/matches" routerLinkActive="active"
        class="nav-link text-white d-flex flex-column align-items-center justify-content-center p-2">
        <div class="icon-container mb-1 rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-link-45deg fs-5"></i>
        </div>
        <span class="small fw-bold">Matches</span>
      </a>
    </li>
  </ul>
</div>