ALTER TABLE ACTIVIDADES ADD SECTOR NVARCHAR(50);
ALTER TABLE ACTIVIDADES ADD DESCRIPCION VARCHAR(MAX);
DROP INDEX UQ__ORGANIZA__161CF724435A488C ON ORGANIZACIONES;
ALTER TABLE ORGANIZACIONES ADD PASSWORD VARCHAR(255) NOT NULL;
ALTER TABLE ORGANIZACIONES ADD FCM_TOKEN NVARCHAR(255);
ALTER TABLE ORGANIZACIONES ALTER COLUMN CP CHAR(5) NOT NULL;
ALTER TABLE VOLUNTARIOS ADD PASSWORD VARCHAR(255) NOT NULL;
ALTER TABLE VOLUNTARIOS ADD FCM_TOKEN NVARCHAR(255);
